@import "tailwindcss";

:root {
  --color-ink: #14140F;
  --color-cream: #F6F1E7;
  --color-gold: #C6A15B;
  --color-nile: #55705F;
}

body {
  background-color: var(--color-cream);
  color: var(--color-ink);
  font-family: var(--font-serif), serif;
}

@layer base {
  button {
    border-radius: 9999px;
  }
  input {
    border-radius: 16px;
  }
}